@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
    --primary-color:black;
    --baby-pink:pink;
    --blue:#3B82F6;
    --off:#F1F5F9;
    --purple:rgb(93, 228, 15);
}
/* navigation bar */
.nav-bar {
    
    color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: auto;
    box-shadow: 0 1px 4px rgba(6, 121, 236, 0.15);
    padding:0.5rem 2rem 0.5rem 5rem;
    max-width: 1200px;
    margin: auto;
}
.logo{
    color: white;
    font-size: 3rem;
}
/* list */
.list-non-bullet{
    list-style: none;
    /* padding-inline-start: 0px; */
}

.nav-values {
    display: inline;
    padding: 0.25rem;
    text-align: right;

}
.nav-bar .nav-pills {
    text-align: right;
}
.list-items-inline{
    display:inline;
    padding:0rem 0.5rem;
}
.nav-bar{
    background-color:#3B82F6;
}

/* links */
.nav-bar .links{
 color: white;
 border-bottom: none;
 text-decoration: none;
}

/* .link-button{
    background-color: var(--primary-color) ;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px var(--primary-color);
    text-align:center;  
    display: block;
    cursor: pointer;
    margin: 1rem;
}  */

:hover.link-button{
    box-shadow: 5px 10px 10px -5px var(--blue);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
 .link-button{
    margin: 0px 0px 75px 500px;
    padding: 20px ;
    width: 100px; 
    height: 25px;
    padding: 20px;
    background: var(--blue);
    color: white;
    font-size: 20px;
    box-shadow: 10px 6px 18px -5px var(--blue);
    display:block;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color) ;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px var(--primary-color);
    text-align:center;  
    cursor: pointer;
    margin: 1rem;
}

.link-secondary{
    background-color: white ;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: var(--purple);
    box-shadow: 0px 6px 18px -5px var(--dark-gray);
    text-align:center;  
    cursor: pointer;
    box-shadow: 0px 6px 18px -5px #c8d1e2;
    margin: 1rem;
}

.link-pink{
    background-color: var(--blue) ;
    box-shadow: 0px 6px 18px -5px var(--baby-pink);
}

.link-purple{
    background-color: var(--purple) ;
    box-shadow: 0px 6px 18px -5px var(--purple);
}

.link-secondary-purple{
    color: var(--purple)
}

.link-secondary-pink{
    color: var(--blue)
}




.nav-bar .current-link {
    font-weight: bold;
    margin: 1px;
    margin-bottom: 3px ;
    
    border-bottom: 2px solid pink;
    /* border-bottom: 2px solid var(--purple); */
}

/* header   Coder Skills */
.coder{
    padding: 2rem;
    /* margin-top:1rem; */
    margin:1rem 0rem 2rem 0rem;
    /* height:50vh; */
}

.coder-image{
    max-width:350px;
    display: block;
    /* margin:0 auto; */
    object-fit: cover;
    width:100%;
    float:right;
    margin: 25px 40px 75px 100px;
    /* float:right; */
}
.coder-image2{
    max-width:350px;
    display: flex;
    margin:0 auto;
    object-fit: cover;
    width:80%;
    float: right;
    margin-right: 20rem;
    margin-top: 5rem;
}

.coder-name {
    color: var(--blue);
    margin: 25px 0px 0px 150px;
    padding-top:3rem;
    text-align:center;
    font-size: 3.25rem;
}

.coder-sub-name{
    margin: 25px 0px 10px 400px;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}
.coder-container{
    margin:0 auto;
}
/* technical skills */
.skills{
    padding-bottom: 5rem;
}
#technicalskills{
    background-color: var(--off);
    border-bottom:50rem;
}
.tech-box{
    text-align: center;
}
.techs{
    width:40%;
}

.tech-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.tech-card{
    /* border-radius: 1rem; */
    padding:1rem;
    background: white;
    width: 4rem;
    box-shadow: 50px #c8d1e2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow:  10px 10px 10px -5px var(--blue);
}
.tech-name{
    color: var(--blue);
    padding-top:3rem;
    text-align:center;
    font-size: 3.25rem;
}
.tech-sub-name{
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}
/* projects,blogs */
.project-button{
    margin: 0px 0px 75px 550px;
    padding: 20px ;
    width: 100px; 
    height: 25px;
    padding: 20px;
    background: var(--blue);
    color: white;
    font-size: 20px;
    box-shadow: 10px 6px 18px -5px var(--blue);
    display:block;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}
.blog-button{
    margin: 0px 0px 75px 550px;
    padding: 20px ;
    width: 100px; 
    height: 25px;
    padding: 20px;
    background: var(--blue);
    color: white;
    font-size: 20px;
    box-shadow: 10px 6px 18px -5px var(--blue);
    display:block;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.work-card{
    /* border: 1px solid black; */
    box-shadow: 0 1px 25px rgba(146,161,176,.15);
    margin:1rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.project-title{
    font-size: 2rem;
    text-align: center
}




/* footer */

.footer{
    background-color:var(--blue);
    
    padding:2rem 0rem;
    text-align: center;
    color:black;
    border-top: 0rem;
    border-top-right-radius:1rem;
    box-shadow: 0 1px 25px #E5E7EB;
    margin-top: 3rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    padding-inline-start:0px;
}
.footer .link{
    color:black;
}

.footer ul{
    padding-left:0px;
}

.footer-icon{
    width:2rem;
}
.list-item-inline{
    padding: 0rem 0.5rem;
    display: inline;
}



@media (max-width: 500px) {
    .coder-name {
        color: var(--blue);
        margin: auto;
        padding-top:3rem;
        text-align:center;
        font-size: 2rem;
    }
    .coder-sub-name{
        margin: auto;
        text-align: center;
        font-weight: 100;
        font-size: 2rem;
    }
    .tech-name{
        color: var(--blue);
        padding-top:2.5rem;
        text-align:center;
        font-size: 2.25rem;
    }
    .tech-sub-name{
        text-align: center;
        font-weight: 80;
        font-size: 1.5rem;
    }
    .link-button{
        margin: auto;
        padding: 20px ;
        width: 100px; 
        height: 15px;
        padding: 15px;
        background: var(--blue);
        color: white;
        font-size: 18px;
        box-shadow: 10px 6px 18px -5px var(--blue);
        display:block;
        text-align: center;
        text-decoration: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        
        
    }
    .coder-image{
        max-width:auto;
        display:block;
        /* margin:0 auto; */
        object-fit: cover;
        width:100%;
        float:inline-start;
        margin:auto;
        /* float:right; */
    }
    .coder-image2{
        display: none;
    }
    .skills{
        padding-bottom: 3rem;
    }

    .tech-box{
        text-align:center;
    }
    .techs{
        width:25%;
        align-items: center;
    }
    
    .tech-row{
        display: flex;
        justify-content:space-around;
        margin-top: 0.5rem;
    }
    .tech-card{
        /* border-radius: 1rem; */
        padding:0.3rem;
        background: white;
        width: 3rem;
        box-shadow: 50px #c8d1e2;
        text-align: left;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        box-shadow:  10px 10px 10px -5px var(--blue);
    }

    .project-button{
        margin: auto;
        padding: 20px ;
        width: 100px; 
        height: 15px;
        padding: 15px;
        background: var(--blue);
        color: white;
        font-size: 20px;
        box-shadow: 10px 6px 18px -5px var(--blue);
        display:block;
        text-align: center;
        text-decoration: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    
    }
    .blog-button{
        margin: auto;
        padding: 20px ;
        width: 100px; 
        height: 15px;
        padding: 20px;
        background: var(--blue);
        color: white;
        font-size: 15px;
        box-shadow: 10px 6px 18px -5px var(--blue);
        display:block;
        text-align: center;
        text-decoration: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    
    }
    
    .list-item-inline{
        padding: 0rem 0.5rem;
    }

    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero{
        display: flex;   
        max-width:900px;
        margin:5rem auto 10rem auto; 
        
        /* margin-top:5rem; */
    }

    .hero-heading{
        text-align: left;
    }

    .hero-heading .section-heading{
        order:1;
        text-align: left;
    }

    .hero-sub-heading{
        text-align: left;
        margin-bottom: 2rem;
    }

    .hero-image{
        order:2;
    }

    .know-more{
        display: initial;
    }

    
    .hero-projects{
        margin:0 auto 0 auto;
        max-width: 750px;
    }

    .links{
        display: flex;
    }

    .section-heading{
        font-size: 2.5rem;
    }

    .section-sub-heading{
        font-size: 1.2rem;
    }
    

    .section-info{
        max-width: 900px;
        margin: auto;
        
    }
    
    .section-work{
        max-width: 1100px;
    }
    .section-work .section-info{
        display: flex;
        /* max-width: 100px; */
    }

    .section-info{
        display: flex;
        justify-content: space-between;
    }
    .section-blog{
        margin-top:2rem;
        padding-top:2rem;
    }
    
    .section-projects{
        margin-top:2rem;
        padding-top:2rem;
    }
    
    .mt-3{
        margin-top: 2rem;
    }

    .tech-image{
        display: inline;
        margin: auto 0 auto 0;
        width:45%;
    }
    .techs{
        width:45%;
    }

    .project-row{
        display: flex;
        justify-content: space-between;
    }

    .work-card{
        width:50%;
    }
}